.about-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e1d9cc;
}

.about {
    text-align: center;
    font-family: 'Norwester';
    padding: 5%;
    font-size: 4rem;
    color: #863527;
}

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-img {
    width: 80%;
    max-width:500px;
    padding-bottom: 20px;
}

.about-p-emphasis {
    font-family: 'kollektif regular';
    color: #294026;
    font-size: 2rem;
    text-align: center;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
}

.about-p {
    font-family: 'kollektif regular';
    text-align: center;
    font-size: 1.1rem;
    line-height: 1.5rem;
    padding-bottom: 1rem;
    padding-right: 10px;
    padding-left: 10px;
}

.sign-off {
    font-size: 1.2rem;
    padding-bottom: 2rem;
    text-align: center;
    color: #294026;
}

@media screen and (min-width: 1024px) {
    .about-container {
        flex-direction: row-reverse;
        justify-content: center;
    }

    .about-words {
        width: 40%;
    }
    
}