.service-title {
    font-size: 3rem;
}

.service-subtitle {
    font-size: 2rem;
    padding-top: 2rem;
}

.service-description {
    font-size: 1.5rem;
    text-align: center;
    vertical-align: center;
    line-height: 2rem;
}

