header {
  display: flex;
  gap: 10%;
  align-items: center;
  background-color: beige;
}

.body {
  width: 73%;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

.nav-btn {
  font-size: 2rem;
  border: none;
  background-color: beige;
}

.schedule-btn {
  background-color: forestgreen;
  border: none;
  color: white;
  font-size: 1.5rem;
  padding: 20px;
  border-radius: 8px;
}

.schedule-btn:hover {
  transition: 1s;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); 
}

button:hover {
  cursor: pointer;
}

.motto {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 200px
}

.lineOne {
  padding-bottom: 0px;
}

.lineTwo {
  padding-top: 0px;
  padding-left: 100px;
}

.logo {
  height: 250px;
  padding-top: 0;
}

.hero-img {
  height: 600px;
  width: 400px;
  background-color: gray;
}

.hero {
  display: flex;

}