* {
  font-family: "Kollektif Regular";
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #e1d9cc;
}

.background-img {
  width: 100%;
  height: 100%;
}

.logo {
  width: 250px;
  height: 250px;
  mix-blend-mode: multiply;
}

.title {
  visibility: hidden;
}

.header-container {
  width: 100%;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #294026;
  color: beige;
  width: 100%;
  padding: 20px 0px;
}

.main-nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.nav-socials {
  display: flex;
}

.social-container {
  display: flex;
}


.instagram {
  color: beige;
}

.facebook {
  color: beige;
}

.nav-btn {
  color: beige;
  text-decoration: none;
}

hr {
  background: forestgreen;
  width: 80%;
  margin-bottom: 10px;
}

@media screen and (min-width: 1024px) {
  .main {
    width: 100%;
    display: flex;
    align-items: end;
  }

  .title {
    visibility: visible;
    font-size: 3rem;
    color:#e1d9cc;
    background-color:#863527;
    border-top-left-radius: 10px;
    padding-left: 10px;
    flex-grow: 2;
  }

  .nav-btn {
    font-size: 2rem;
  }

  .social-container {
    padding-right: 22px;
  }

  .instagram {
    padding-right: 22px;
  }
}